[Unit]
Description=distress
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/cybercorps/bin/distress
WorkingDirectory=/opt/cybercorps/bin
SyslogIdentifier=distress
SyslogFacility=daemon
StandardOutput=append:/var/log/cdss.log
StandardError=append:/var/log/cdss.log

[Install]
WantedBy=multi-user.target
