[Unit]
Description=mhddos_proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/cybercorps/bin/mhddos_proxy_linux --lang ua --copies auto --threads 8000 --source cdss
WorkingDirectory=/opt/cybercorps/bin
SyslogIdentifier=mhddos
SyslogFacility=daemon
StandardOutput=append:/var/log/cdss.log
StandardError=append:/var/log/cdss.log

[Install]
WantedBy=multi-user.target
