[Unit]
Description=x100
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/cybercorps/x100-for-docker/for-macOS-and-Linux-hosts/run-and-auto-update.bash
ExecStop=/opt/cybercorps/x100-for-docker/for-macOS-and-Linux-hosts/stop.bash
WorkingDirectory=/opt/cybercorps/x100-for-docker/for-macOS-and-Linux-hosts/

StandardOutput=append:/opt/cybercorps/x100-for-docker/put-your-ovpn-files-here/x100-log-short.txt
StandardError=append:/opt/cybercorps/x100-for-docker/put-your-ovpn-files-here/x100-log-short.txt

[Install]
WantedBy=multi-user.target
